@import url('https://fonts.googleapis.com/css?family=Coiny|Rammetto+One');

* {
    box-sizing: border-box;
}

html {
    height: 100%;
    background-image: linear-gradient(whitesmoke, black);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-top: 5em;
}

.contact-form {
    position: relative;
    margin: auto;
    max-width: 400px;
    background: #a9a9a9;
    border-radius: 1em;
    padding: 1em;
    color: black;
    text-align: center;
    font-family: fcb-bold, Arial, Helvetica Neue, Helvetica, sans-serif;
    opacity: 0.8;
    margin-top: 3em;
}

h2 {
    color: black;
    font-weight: 900;
}

label {
    text-align: left;
    display: block;
    padding: 6px 0;
}

input,
textarea {
    display: block;
    width: 100%;
    margin: 5px 0;
    padding: 6px;
    background: white;
    border: none;
    opacity: 0.8;
}

input:hover,
textarea:hover {
    background: white;
    color: black;
    border: solid darkorange;
}

.submit-button {
    color: white;
    font-weight: 900;
    background: darkorange;
    padding: 8px 15px;
    border: none;
}

.submit-button:hover {
    background: white;
    color: grey;
    border: solid lightgrey;
    transform: translateY(4px);
}