@import url('https://fonts.googleapis.com/css?family=Coiny|Rammetto+One');

>*{
    box-sizing:border-box;
}
html{
//margin:20px 50px;
    height:100%;
    background-image: linear-gradient(whitesmoke, black);
    background-repeat:no-repeat;
    background-position:center;
    background-size:cover;
}

form{
    position:relative;
    top:50px;
    margin:auto;
    border:black;
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    grid-gap:2px;
    grid-auto-flow: dense;
    overflow:hidden;
    background: #a9a9a9;
    max-width:800px;
    min-height:400px;
    max-height: auto;
    border-radius: 1em;
    padding-bottom: 1em;
}


.left{
    position:absolute;
    background:transparent;
    overflow:hidden;
    height:100%;
}
.left img{
    margin-top: 5em;
    border-radius: 1em;
}
.left:before {
    content: ' ';
    position: absolute;
    left: 0;
    top: 0;
    width:100%;
    height: 100%;
    z-index:-1;
    opacity:0.8;
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
}
.left,h2{
    font-family: fcb-bold,Arial,Helvetica Neue,Helvetica,sans-serif;
    text-align: center;
    z-index: 2;
    position: relative;
    color: black;
}
.btn1{
    z-index:2;
    color:white;
    font-weight:900;
    background:darkorange;
    padding:8px 25px;
    border:none;
//box-shadow: 2px 2px 2px 2px white;
    min-width:10px;
    &:hover{
        background:white;
        color:grey;
        border:solid lightgrey;
        transform: translateY(4px)
    }
}

.left h3{
    color:grey;
}
.left p{
    font-family: fcb-bold,Arial,Helvetica Neue,Helvetica,sans-serif;
    position:absolute;
    margin:auto;
    color:white;
    bottom:10%;
    left:0;
    right:0;
}



.right{
    color:white;
    border-left:0;
    text-align:center;
    overflow:hidden;
    background:whitesmoke;
    width:100%;
    height:100%;
    margin-top:0px;
    padding:10px;
    .btn2{
        text-align:center;
        background:darkorange;
        color:whitesmoke;
        padding:5px 10px;
        border: none;
        font-weight:900;
        &:hover{
            background:white;
            color:grey;
        }}}
h2{color: black;
    font-weight: 900px;}

input{
    display:inline-block;
    width:150px;
    margin:5px;
    background:darkgrey;
    opacity:0.5;
    border:white;
    &:hover{
        background:white;
        color:whitesmoke;
        border:solid darkorange;
    }
}
label{
    text-align:left;
    display:inline-block;
    padding:6px 0px;
    font-family: fcb-bold,Arial,Helvetica Neue,Helvetica,sans-serif;
    color: black;
}
body {margin-top: 8em}
a{text-decoration: none; color: white}