/* Paginas */
#contenedor {
    min-height: 100%;
    background-color: #E3E6E6;
    flex-direction: column;
    background-image: linear-gradient(#ffff, #ababab);
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
}

header {
    background-color: #131921;
    width: 98.7%;
    height: auto; /* Cambiamos height a auto para que se ajuste al contenido */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* Alineamos los elementos en los extremos */
    align-items: center; /* Centramos verticalmente */
    padding: 10px;
}

#logo {
    width: 20%;
}
#logo img {
    margin: 0.5em;
    width: 40%;
}

#titol {
    color: white;
    flex: 1; /* Ocupa el espacio restante */
    text-align: center;
}

#cesta {
    margin: 0.5em;
    width: 20%;
    float: right;
}

#menu {
    width: 100%;
    display: block;
    background-color: #232F3E;
    position: sticky;
    top: 0;
    margin: auto;
}

#menu ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

#menu ul li {
    display: inline-block;
    padding: 0;
    margin: 0;
}

#menu ul li a {
    color: white;
    text-decoration: none;
    font-family: Arial;
    font-size: 1.3em;
    padding: 10px 20px; /* Añadimos espacio alrededor del enlace */
}

#menu ul li:hover {
    background-color: red;
}

#menu ul li:hover a {
    color: white;
}

h1{
    font-size: 2.5rem;
    font-family: 'Montserrat';
    font-weight: normal;
    color: #444;
    text-align: center;
    margin: 2rem 0;
}

.wrapper{
    width: 90%;
    margin: 0 auto;
    max-width: 80rem;
}

.cols{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.col{
    width: calc(25% - 2rem);
    margin: 1rem;
    cursor: pointer;
}

.container{
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-perspective: 1000px;
    perspective: 1000px;
}

.front,
.back{
    background-size: cover;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.25);
    border-radius: 10px;
    background-position: center;
    -webkit-transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    -o-transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1), -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    text-align: center;
    min-height: 280px;
    height: auto;
    border-radius: 10px;
    color: #fff;
    font-size: 1.5rem;
}

.back{
    background: #cedce7;
    background: -webkit-linear-gradient(45deg,  #cedce7 0%,#596a72 100%);
    background: -o-linear-gradient(45deg,  #cedce7 0%,#596a72 100%);
    background: linear-gradient(45deg,  #cedce7 0%,#596a72 100%);
}

.front:after{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    content: '';
    display: block;
    opacity: .6;
    background-color: #000;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 10px;
}
.container:hover .front,
.container:hover .back{
    -webkit-transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    -o-transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1), -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
}

.back{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.inner{
    -webkit-transform: translateY(-50%) translateZ(60px) scale(0.94);
    transform: translateY(-50%) translateZ(60px) scale(0.94);
    top: 50%;
    position: absolute;
    left: 0;
    width: 100%;
    padding: 2rem;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    outline: 1px solid transparent;
    -webkit-perspective: inherit;
    perspective: inherit;
    z-index: 2;
}

.container .back{
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.container .front{
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.container:hover .back{
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.container:hover .front{
    -webkit-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.front .inner p{
    font-size: 2rem;
    margin-bottom: 2rem;
    position: relative;
}

.front .inner p:after{
    content: '';
    width: 4rem;
    height: 2px;
    position: absolute;
    background: #C6D4DF;
    display: block;
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: -.75rem;
}

.front .inner span{
    color: rgba(255,255,255,0.7);
    font-family: 'Montserrat';
    font-weight: 300;
}

@media screen and (max-width: 64rem){
    .col{
        width: calc(33.333333% - 2rem);
    }
}

@media screen and (max-width: 48rem){
    .col{
        width: calc(50% - 2rem);
    }
}

@media screen and (max-width: 32rem){
    .col{
        width: 100%;
        margin: 0 0 2rem 0;
    }
}
footer {background-color: #485769; display: block; text-align: center; position: absolute; bottom: 0px; left: 0px; right: 0px;}
/* Resto de estilos para tabletas o pantallas más pequeñas */


@media (max-width: 768px) {
    header {
        flex-direction: column; /* Apilamos los elementos en columnas */
        text-align: center; /* Centramos el texto */
    }

    #titol {
        margin-top: 10px; /* Añadimos un margen superior */
    }

    #menu ul li {
        display: block;
        text-align: center; /* Centramos los elementos del menú */
        padding: 10px 0; /* Añadimos espacio alrededor del enlace */
    }

    .producto,
    .producto1 {
        display: block;  /*Cambiamos a bloque para que se apilen en columnas */
        margin: 1em auto; /* Centramos los productos */
        text-align: center; /* Centramos el contenido */
    }
}
